<div id="aboutcontent" class="force-select">
	<style>
#canvas2{
 position: fixed;
 margin: 0 0 0 0;
 margin-left: -20px;
 margin-top: -40px;
 width: 100%;
 height: 100%;
 z-index: -1;
}
body, #foreground, #midground{
 background: none;
}
	</style>
	<canvas style="display:none" id="canvas" width="285" height="285"></canvas>
	<canvas style="display:none" id="canvas3" width="570" height="570"></canvas>
	<canvas id="canvas2" width="570" height="570"></canvas>
	<center>
	<div class="page-header-small">
		<h1 data-i18n="About Oikomaticz">About Oikomaticz</h1>
	</div>
	<span>Version</span>: {{config.appversion}}<br>
	<span>Build Hash</span>: {{config.apphash}}<br>
	<span>Compile Date</span>: {{config.appdate}}<br>
	<span>dzVents Version</span>: {{config.dzventsversion}}<br>
	<span>Python Version</span>: {{config.pythonversion}}<br>
	<span>Active User</span>: {{config.userName}}<br>
	<br>
	<span>Uptime</span>: {{strupptime}}
	</center>
</div>
